* {
  box-sizing: border-box;
}
a {
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lexend Deca", sans-serif;
  color: #f2f2f2;
  font-size: 0.9375rem;
}
h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #f2f2f2;
}
.main {
  border-radius: 8px;
}
.sedans {
  position: relative;
  width: 327px;
  height: 442px;
  background-color: #e28625;
  padding: 50px;
  border-radius: 8px, 8px, 0px, 0 px;
  font-size: 1rem;
}
.suvs {
  position: relative;
  width: 327px;
  height: 442px;
  background-color: #006971;
  padding: 50px;
  font-size: 1rem;
}
.luxury {
  position: relative;
  width: 327px;
  height: 442px;
  background-color: #004140;
  padding: 50px;
  font-size: 1rem;
}
.button1 {
  position: absolute;
  color: #e28625;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 10px;
  bottom: 48;
  width: 146px;
  text-align: center;
}
.button2 {
  position: absolute;
  color: #006971;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 10px;
  bottom: 48;
  width: 146px;
  text-align: center;
}
.button3 {
  position: absolute;
  color: #004140;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 10px;
  bottom: 48;
  width: 146px;
  text-align: center;
}
.circle {
  position: relative;
  border-radius: 50px;
  background-color: #0000001d;
  width: 40px;
  height: 40px;
}
.img {
  position: absolute;
  top: 10px;
  left: 20px;
}
.main {
  font-size: 0;
}
@media screen and (width >= 768px) {
  .sedans {
    display: inline-block;
    font-size: 1rem;
    height: 500px;
  }
  .suvs {
    display: inline-block;
    font-size: 1rem;
    height: 500px;
  }
  .luxury {
    display: inline-block;
    font-size: 1rem;
    height: 500px;
  }
  .button1 {
    bottom: 100px;
  }
  .button2 {
    bottom: 100px;
  }
  .button3 {
    bottom: 100px;
  }
}
@media (hover: hover) {
  .button1:hover {
    background-color: #e28625;
    color: #f2f2f2;
    border: 2px solid #f2f2f2;
  }
  .button2:hover {
    background-color: #006971;
    color: #f2f2f2;
    border: 2px solid #f2f2f2;
  }
  .button3:hover {
    background-color: #004140;
    color: #f2f2f2;
    border: 2px solid #f2f2f2;
  }
}
